@namespace D12Canvas

@page "/diagram"

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@using D12Canvas
@using System.Collections.Generic;

<div class="diagram-container" @ref="ContainerElement">
    <div class="diagram-canvas" 
         @onmousedown="@HandleMouseDown"
         @onmousemove="@HandleMouseMove"
         @onmouseup="@HandleMouseUp"
         @onwheel="@HandleMouseWheel">
        <div class="canvas-content" style="@ContentStyle">
            @ChildContent
        </div>
    </div>
</div>

<style>
    .diagram-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: minmax(400px, auto) minmax(400px, 100%);
        position: relative;
        overflow: hidden;
        border: 1px solid #ccc;
    }
    
    .diagram-canvas {
        width: 100%;
        height: 100%;
        grid-row: 1;
        position: relative;
        cursor: grab;
    }
    
    .diagram-canvas:active {
        cursor: grabbing;
    }
    
    .canvas-content {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: top left;
        transition: transform 0.1s ease-out;
        background: #f0f0f0;
        background-image: 
            linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px);
        background-size: 20px 20px;
        background-position: 0 0;
    }
</style>
